PROJECT #INDEX PAGE
<div class="container">
  <div class="right">



    <% @projects.each do |project| %>
      <h5><strong><li><%= link_to project.title, project_path(project) %></strong></h5>
          <p><span class="locationName<%= project.id %>"></span></p>
          <p><strong><span class="locationAddress<%= project.id %>"></strong></span></p>
          <p><a href="#" onclick="this.style.visibility='hidden'" class="js-more" data-id="<%= project.id %>">More</a></p>
          <%= button_to 'Delete', project_path(project), method: :delete, data: { confirm: "Are you sure?"} %></li>
          <br>
    <% end %>




<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-more").each(function(num, el){
    $(el).on("click", function(event) {
      event.preventDefault();
      var nextId = parseInt($(el).attr("data-id"));
      $.get("/projects/" + nextId + ".json", function(data) {
        $(`.locationName${data.id}`).text(data["location"]["name"]); //AKA ProductionCompany
        $(`.locationAddress${data.id}`).text(data["location"]["address"]);
      })
      });
    });
  });
</script>







</div>
</div>
