PROEJCTS #SHOW Page
<html>
  <head>
  </head>

  <div class="right">

  <a href="#" class="js-next" data-id="<%=@project.id%>">Next..</a>
      <p>Title: <span class="projectTitle"><%=@project.title%></span></p>
      <p>Description: <span class="projectDescription"><%= @project.description %></span></p>
      <p>Location: <span class="projectStudio"><%=@project.studio%></span></p>
      <p>Production Company: <span class="locationName"><%=@project.location.name%></span></p>
      <p>Address: <span class="locationAddress"><%=@project.location.address%></span></p>

      <%= link_to "All Locations", project_locations_path(@project) %>








<div class="myDIV">

  <p><i> Edit Project: <%= link_to @project.title, edit_project_path(@project) %></i></p>
  <br>

  <p><strong>Necessary Equipment:</strong></p>
      <%= form_for @item, url: project_items_path(@project, @item)  do |f| %>
        <p><%= f.text_area :content, required: true, class: 'itemBox form-control' %></p>
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
      <% end %>
<br>

  <h3>Equipment:</h3>
  <div id="submitted-items">
    <% @project.items.each do |item| %>
    <div class="well well-white" id="item-<%= item.id %>">
      <strong class="itemUserEmail"><%= item.user.email %></strong> says: <span class="itemContent"><%= item.content %></span>
    </div>
    <% end %>
  </div>


  <%= link_to "All Items", project_items_path(@project, @item) %>

</div>

<br>

 <!-- <a href="#" data-id="<%=@project.id%>">View Previous Projects</a><br><br>
</div> -->
<br>

    </div>
  </body>
</html>
