PROEJCTS #SHOW Page

<div class="right">

<a href="#" class="js-next" data-id="<%=@project.id%>">Next...</a>
    <p>Title: <span class="projectTitle"><%=@project.title%></span></p>
    <p>Description: <span class="projectDescription"><%= @project.description %></span></p>
    <p>Location: <span class="projectStudio"><%=@project.studio%></span></p>
    <p>Production Company: <span class="locationName"><%=@project.location.name%></span></p>
    <p>Address: <span class="locationAddress"><%=@project.location.address%></span></p>

    <%= link_to "All Locations", project_locations_path(@project) %>

  <script type="text/javascript" charset="utf-8">
    $(function () {
      $(".js-next").on("click", function(event) {
        event.preventDefault();
        var nextId = parseInt($(".js-next").attr("data-id")) + 1;
        $.get("/projects/" + nextId + ".json", function(data) {
          $(".projectTitle").text(data["title"]);
          $(".projectDescription").text(data["description"]);
          $(".projectStudio").text(data["studio"]);
          $(".locationName").text(data["location"]["name"]);
          $(".locationAddress").text(data["location"]["address"]);
          // re-set the id to current on the link
          $(".js-next").attr("data-id", data["id"]);
        });
      });
    });
  </script>

  <div class="myDIV">

<p><i> Edit Project: <%= link_to @project.title, edit_project_path(@project) %></i></p>
<br>


      <p><strong>Necessary Equipment:</strong></p>
        <%= form_for @item, url: project_items_path(@project, @item)  do |f| %>
          <p><%= f.text_area :content %></p>
          <button type="submit">Add Equipment</button>
    <% end %>

    <h5><strong>Equipment:</strong></h5>

      <% @project.items.each do |item| %>
      <li><%= link_to item.content, project_item_path(@project, item) %>
              <br>
    <% end %>

<br>
<br>
<br>
<%= button_to "Delete All", project_path(@project), method: :delete, data: { confirm: "Are you sure?" } %>
 <!-- <a href="#" data-id="<%=@project.id%>">View Previous Projects</a><br><br>
</div> -->
<br>
</div>
</div>
