PROJECTS #SHOW PAGE
<div class="container">

    <p>Title: <span class="projectTitle"><%=@project.title%></span></p>
    <p>Description: <span class="projectDescription"><%= @project.description %></span></p>
    <p>Location: <span class="projectStudio"><%=@project.studio%></span></p>
    <p>Production Company: <span class="locationName"><%=@project.location.name%></span></p>
    <p>Address: <span class="locationAddress"><%=@project.location.address%></span></p>


    <% if current_user %>
          <h4>Add a equipment:</h4>
            <%= form_for @item, url: project_items_path(@project, @item)  do |f| %>
              <p>Equipment: <%= f.text_area :content %></p> <br>
              <p>Department: <%= f.text_area :department %> </p>
              <button type="submit">Add Equipment</button>
            <% end %><br>
        <% else %>
        <p>Please log in order to add equipment to this project.</p>
    <% end %>
    <h4>Equipment:</h4>
    <div id="submitted-equipment">
      <% @project.items.each do |item| %>
      <div id="item-<%= item.id %>">
        <strong class="itemUserName"><%= item.user.name %></strong> added: <span class="itemContent"><%= item.content %></span>
      </div>
      <% end %>
    </div>

 <a href="#" data-id="<%=@project.id%>">View Previous Projects</a><br><br>
</div>
