PROEJCTS #SHOW Page
<html>

<head>
</head>

<div class="right">

<a href="#" class="js-next" data-id="<%=@project.id%>">Next...</a>
    <p>Title: <span class="projectTitle"><%=@project.title%></span></p>
    <p>Description: <span class="projectDescription"><%= @project.description %></span></p>
    <p>Location: <span class="projectStudio"><%=@project.studio%></span></p>
    <p>Production Company: <span class="locationName"><%=@project.location.name%></span></p>
    <p>Address: <span class="locationAddress"><%=@project.location.address%></span></p>

    <%= link_to "All Locations", project_locations_path(@project) %>






<div class="myDIV">

<p><i> Edit Project: <%= link_to @project.title, edit_project_path(@project) %></i></p>
<br>


      <p><strong>Necessary Equipment:</strong></p>
        <%= form_for @item, url: project_items_path(@project, @item)  do |f| %>
          <p><%= f.text_area :content %></p>
          <button type="submit">Add Equipment</button>
    <% end %>

<br>

  <button id=alphBnt onclick="sortList()">Equipment:</button>
  <div class="final">
  <ul id="id01">
      <% @project.items.each do |item| %>
            <li><%= item.content %></li>
    <% end %>
    </ul>
  </div>

    <script>
function sortList() {
  var list, i, switching, b, shouldSwitch;
  list = document.getElementById("id01");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    b = list.getElementsByTagName("LI");
    //Loop through all list-items:
    for (i = 0; i < (b.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*check if the next item should
      switch place with the current item:*/
      if (b[i].innerHTML.toLowerCase() > b[i + 1].innerHTML.toLowerCase()) {
        /*if next item is alphabetically
        lower than current item, mark as a switch
        and break the loop:*/
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark the switch as done:*/
      b[i].parentNode.insertBefore(b[i + 1], b[i]);
      switching = true;
    }
  }
}
</script>


<br>
<br>
<br>
<%= button_to "Delete All", project_path(@project), method: :delete, data: { confirm: "Are you sure?" } %>
 <!-- <a href="#" data-id="<%=@project.id%>">View Previous Projects</a><br><br>
</div> -->
<br>
</div>
</div>
</body>
</html>
