PROJECTS #SHOW PAGE

<h5> Title: <%= @project.title %></h5>
<br>
<p> Description: <%= @project.description %></p>
<br>
<p> Studio: <%= @project.studio %></p>
<br>
<p> Production Company: <%=@location.name %></p>
<br>
<p> Address: <%= @location.address %></p>
