<div class="container">
  <div class="right">

    <a href="#" class="js-next" data-id="<%=@item.id%>">Next...</a>
    <br>
        <p>Equipment: <span class="itemContent"><%=@item.content%></span></p>
<br>


<% if current_user %>
  <p><strong>Necessary Equipment:</strong></p>
    <%= form_for @item, url: project_item_path(@project, @item)  do |f| %>

      <p><%= f.text_field :content %></p>
        <p>Make: <%= f.text_field :make %></p>
          <p>Model: <%= f.text_field :model %></p>
      <button type="update">Add Details To Equipment</button>
    <% end %><br>
<% else %>
  <p>Please log in order to add equipment to this project.</p>
<% end %>






<%= link_to 'Delete', project_item_path(@item), method: :delete, data: { confirm: "Are you sure?"} %></li>


<br>

</div>
</div>
